.navigation {
    background: black;
  }
  .white {
    color: white;
  }
  .black {
    color: black;
  }
  .redbg {
    background: red;
    font-size: 1.5em;
  } 
  .redback {
    background: red;
  }
  .greenbg {
    background: green;
    font-size: 1.5em;
  }
  .graybg {
    background: rgb(204, 204, 204);
  }
  .whitebg {
    background: white;
  }
.whiteline {
  color: white;
  text-decoration: none;
}

  body {
    font-family: roboto, sans-serif;
  }

  h1,h2 {
    font-family: bootsandspurs, sans-serif;
  }
  p {
    font-family: roboto, Verdana, sans-serif;
  }

  @font-face {
    font-family: bootsandspurs;
    src: url(/fonts/BootsAndSpurs.ttf);
  }
  @font-face {
    font-family: roboto;
    src: url(https://fonts.google.com/specimen/Roboto);
  }


  nav li {
    display: inline-block;
  }
  nav ul {
    padding: 0px;
  }
  nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
  }
  nav a:hover {
    text-decoration: underline;
  }


  .infoguitar {
    max-width: 600px;
    max-height: 600px;
    border-radius: 20%;
  }
  .review {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
  }
  .product {
    max-width: 350px;
    max-height: 350px;
  }
  img {
    width: 100%;
  }
  
  .homep {
    background-image: url(/images/home-header1.png);
    min-height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
  }

  .form__input {
    display: block;
  }

  .ask__input
  {
    display: block;
    width: 250px;
    height: 150px;
  }

  .sendin {
    color: white;
    background-color: red;
    width: 150px;
    height: 50px;
  }

  input,
  select,
  textarea {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
  }