.navigation {
    background: black;
  }
  .white {
    color: white;
  }
  .black {
    color: black;
  }
  .redbg {
    background: red;
    font-size: 1.5em;
  } 
  .redback {
    background: red;
  }
  .greenbg {
    background: green;
    font-size: 1.5em;
  }
  .graybg {
    background: rgb(204, 204, 204);
  }
  .whitebg {
    background: white;
  }
.whiteline {
  color: white;
  text-decoration: none;
}
.fbig {
  text-decoration: none;
  font-size: 1rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 0,8rem;
  padding-bottom: 0,8rem;
  border-radius: 5px;
}

  body {
    font-family: roboto, sans-serif;
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  h1,h2 {
    font-family: bootsandspurs, sans-serif;
  }
  p {
    font-family: roboto, Verdana, sans-serif;
  }

  @font-face {
    font-family: bootsandspurs;
    src: url(/fonts/BootsAndSpurs.ttf);
  }
  @font-face {
    font-family: roboto;
    src: url(https://fonts.google.com/specimen/Roboto);
  }


  nav li {
    display: inline-block;
  }
  nav ul {
    padding: 0px;
  }
  nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2rem;
    }
  .current {
    text-decoration: underline;
  }
  
  header a {
    padding: 10px;
  }



  .infoguitar {
    max-width: 600px;
    max-height: 600px;
    border-radius: 20%;
  }
  .review {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
  }
  .reviewt {
    max-width: 400px;
    max-height: 400px;
    margin: auto;
  }
  .review1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .product {
    max-width: 350px;
    max-height: 350px;
    text-decoration: none;
  }
  img {
    width: 100%;
  }
  
  .homep {
    background-image: url(/images/home-header1.png);
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    position: relative;
  }

  .form__input {
    display: block;
  }

  .ask__input
  {
    display: block;
    width: 250px;
    height: 150px;
  }

  .sendin {
    color: white;
    background-color: red;
    width: 150px;
    height: 50px;
    text-decoration: none;
    font-size: 1rem;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    text-align: center;
  }

  input,
  select,
  textarea {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    padding: 10px;
  }

  textarea {
    height: 65%;
  }
  .adired {
    width: 500px;
    height: 350px;
  }
  .miniv {
    width: 122px;
    height: 70px;
    gap: 10px;
  }
  .product1 {
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 5px;
    text-decoration: none;
    grid-row: 2;
    grid-column: 2;
  }
  .product2 {
    font-size: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 5px;
    text-decoration: none;
    grid-row: 2;
    grid-column: 2;
  }

  .floatr {
    float: right;
  }
  .posis {
    position: absolute;
    text-align: center;
    left: 100px;
    top: 100px;
  }


  .largerfont {
    font-size: 2rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 50px auto;
  }
  .container > * {
    flex: 1;
  }

  .container2 {
    display: flex;
    flex-direction: row;
  }
  .container3 {
    display: flex;
    flex-direction: row;
  }
  .form {
    padding: 10px;
    margin: 10px;
    width: 300px;
  }
  .form2 {
    flex: 10;
    width: 300px;
    height: 300px;  
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 80px;
  }


  nav {
    margin-left: 20px;
  }

  .center {
    text-align: center;
  }

  .adi {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
  }
  .adi1 {
    max-width: 400px;
    max-height: 400px;
    margin: 40px;
  }

  .contactus {
    padding: 10px;
    background-color: red;
    text-decoration: none;
    align-items: center;
    display: block;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    border-color: black;
  }

  .contact {
    max-width: 1000px;
    margin: auto;
    text-align: center;
  }
  .form-wrapper {
    display: flex;
    text-align: left;
  }
  .form-wrapper > * {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin: 50px auto;
    grid-gap: 10px;
  }

  .wrapper2 {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  .wrapper2 img {
    grid-column: -1/1;
  }

  .wrapper2 img {
    width: 100%;
  }

  .wrapper2 h3,
  .wrapper2 p {
    grid-column: 1;
    font-size: 0.9em;
    margin: 10px;
  }

  .wrapper h1 {
    grid-column: -1/1;
  }

  .wrapper1 {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  .wrapper1 img {
    grid-column: -1/1;
  }

  .wrapper1 h3, 
  .wrapper1 p {
    grid-column: 1;
    font-size: 0.9em;
    margin: 10px;
  }
  .featured {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: 50px auto;
    grid-gap: 10px;
  }

  .featured img {
    width: 100%;
  }
  .featured h2 {
    grid-column: -1/1;
  }

  footer {
    padding: 10px;
    text-align: center;
  }

 /*mobile*/
 @media only screen and (max-width: 480px) {
  body {
    width: 320px;
    font-size: .5em;
  }
  img {
    width: 60%;
    height: 60%;
  }
 }

  /*tablet*/
  @media only screen and (min-width:481px) and (max-width: 768px) {
    body {
      width: 80%;
      font-size: 0.9em;
      padding: 10px;
  }
}
