.navigation {
    background: black;
  }
  .white {
    color: white;
  }
  .black {
    color: black;
  }
  .redbg {
    background: red;
  } 
  .greenbg {
    background: green;
  }
  .graybg {
    background: rgb(204, 204, 204);
  }
  .whitebg {
    background: white;
  }